<div class='fb-edit-section-header'>长度限制</div>

最小值
<input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.MINLENGTH %>" style="width: 30px" />

&nbsp;&nbsp;

最大值
<input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.MAXLENGTH %>" style="width: 30px" />

&nbsp;&nbsp;

<select data-rv-value="model.<%= Formbuilder.options.mappings.LENGTH_UNITS %>" style="width: auto;">
  <option value="characters">字符(适用于字母/数字)</option>
  <option value="words">文字(适用于中文)</option>
</select>
