<label>
  <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.SLIDER_IS_VIEWVALUE %>' />
  是否显示当前值
</label>
<div class='fb-edit-section-header'>默认值</div>
<input type='text' data-rv-input='model.<%= Formbuilder.options.mappings.DEFAULT %>' style="width: 50px" />
<div class='fb-edit-section-header'>间隔</div>
<input type='text' data-rv-input='model.<%= Formbuilder.options.mappings.STEP %>' style="width: 50px"/>
<div class='fb-edit-section-header'>最小值 / 最大值</div>
下限值
<input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.MIN %>" style="width: 30px" />

&nbsp;&nbsp;

上限值
<input type="text" data-rv-input="model.<%= Formbuilder.options.mappings.MAX %>" style="width: 30px" />
